<!-- menu -->
<div class="nav-bar">
  <nav>
    <div class="list-container">
      <ul>
        <li routerLink="/home" class="home-page">
          <a>
            <!-- home page logo -->
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li routerLink="/home">
          <a class="home">Home</a>
        </li>
        <li routerLink="/about">
          <a class="about">About</a>
        </li>
        <li routerLink="/service">
          <a class="service">Services</a>
        </li>
      </ul>
    </div>
  </nav>
</div>




