@import '../../../../variables';
.nav-bar {
  background-color: $white;
  height: 40%;
  margin-top: 5px;
  border-top: .071em solid #cecece;
}

.list-container {
  width: 100%;
  height: 100%;
  border-bottom: .214em solid $dark-blue;
}

ul {
  margin-left: 20%;
  margin-right: 40%;
  padding: 0;
  margin-bottom: 0;
}

ul li {
  display: inline-block;
  padding: 20px;
  width: 20%;
  text-align: center;

  a {
    font-size: 14px;
    font-family: open-sans, Arial, Helvetica, sans-serif;
  }
}

ul li a {
  color: $dark-blue;
  text-decoration: none;

  i {
    color: $white;
  }
}

ul > li:nth-child(1) {
  width: 10%;
  background: $dark-blue;

  i {
    color: $white
  }
}

ul > li:nth-child(1):hover, ul > li:nth-child(1):active {
  cursor: pointer;
  border: 2px solid white;
  text-decoration: none;
}

ul > li:nth-child(2):hover, ul > li:nth-child(2):focus, ul > li:nth-child(2):active {
  background: $sky-blue;
  cursor: pointer;
  border: 2px none white;

  a {
    color: $white;
  }
}

ul > li:nth-child(3):hover, ul > li:nth-child(3):focus, ul > li:nth-child(3):active {
  background: $violate;
  cursor: pointer;
  border: 2px none white;

  a {
    color: $white;
  }
}

ul > li:nth-child(4):hover, ul > li:nth-child(4):focus, ul > li:nth-child(4):active {
  background: $pistachio-green;
  cursor: pointer;
  border: 2px none white;
  a {
    color: $white;
  }
}




