<!-- header -->
<div class="header-container">
  <div class=" header">
    <!-- Logo -->
    <img class="image" src="assets/images/log_berlitz_CT.png">
    <!-- buttons -->
    <div class="button-group ">
      <button class="rounded-circle border border-white" routerLink="/"><i class="fa fa-home"></i></button>
      <button class="rounded-circle border border-white"><i class="fas fa-user"></i></button>
      <button class="rounded-circle border border-white"><i class="far fa-envelope"></i></button>
      <button class="rounded-circle border border-white"><i class="fas fa-calendar-alt"></i></button>
      <button class="rounded-circle border border-white"><i class="fas fa-times"></i></button>
    </div>
  </div>
  <!-- menu -->
  <app-menu></app-menu>
</div>



